<%- include('partials/header.ejs'); -%>
  <% 
  let today=new Date(notesRow[0].read_date); 
  let year=today.getFullYear(); 
  let mon=("0"+(today.getMonth()+1)).slice(-2); 
  let day=("0"+today.getDate()).slice(-2); 
  let date=year+"-"+mon+"-"+day;%>

    <h2>Edit Notes</h2>
    <form action="/edit-notes/<%= notesRow[0].id %>" method="post">
      <div class="form-group">
        <label for="booktitle">Book Title</label>
        <input type="text" class="form-control" id="booktitle" name="booktitle" value="<%= notesRow[0].book_name %>"
          placeholder="Enter Book Title">
      </div>
      <div class="form-group">
        <label for="bookisbn">Book ISBN No.</label>
        <input type="text" class="form-control" id="bookisbn" name="bookisbn" value="<%= notesRow[0].isbn_no %>"
          placeholder="Enter Book ISBN No.">
      </div>
      <div class="form-group">
        <label for="bookisbn">Book Read Date</label>
        <input type="date" class="form-control" id="bookreaddate" name="bookreaddate" value="<%= date %>" placeholder="Enter Read Date">
      </div>
      <div class="form-group">
        <label for="bookisbn">Book Rating</label>
        <input type="text" class="form-control" id="bookrating" name="bookrating" value="<%= notesRow[0].rating %>" placeholder="Enter Rating">
      </div>
      <div class="form-group">
        <label for="booknotes">Book Notes</label>
        <textarea class="form-control" id="booknotes" name="booknotes" rows="10"><%= notesRow[0].book_review %></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
 


      <%- include('partials/footer.ejs'); -%>